<div style="height: 100vh;">

  <mat-toolbar id="main" color="primary" class="mat-elevation-z10">


    <div fxShow="true" fxHide.lt-md="true">

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->

      <a href="#" mat-button>
        <mat-icon>home</mat-icon>
        <span i18n>Novinky</span>
      </a>

      <a href="#" mat-button>
        <mat-icon>local_library</mat-icon>
        <span i18n>Návody</span>
      </a>

      <a href="#" mat-button>
        <mat-icon>blur_linear</mat-icon>
        <span i18n>Schémata</span>
      </a>

      <a href="#" mat-button>
        <mat-icon>settings_input_composite</mat-icon>
        <span i18n>Komponenty</span>
      </a>

    </div>

    <mat-icon fxShow="true" fxHide.gt-sm="true" (click)="sidenav.toggle()">menu</mat-icon>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column">

      <div fxLayout="column">

        <a (click)="sidenav.toggle()" href="#" mat-button>
          <mat-icon>close</mat-icon>
          <span i18n>Zavřít</span>
        </a>

        <a href="#" mat-button>
          <mat-icon>home</mat-icon>
          <span i18n>Novinky</span>
        </a>

        <a href="#" mat-button>
          <mat-icon>local_library</mat-icon>
          <span i18n>Návody</span>
        </a>

        <a href="#" mat-button>
          <mat-icon>blur_linear</mat-icon>
          <span i18n>Schémata</span>
        </a>

        <a href="#" mat-button>
          <mat-icon>settings_input_composite</mat-icon>
          <span i18n>Komponenty</span>
        </a>

      </div>

    </mat-sidenav>

    <mat-sidenav-content fxFlexFill fxLayout="column">
      <div fxFlex="0 0 64px"></div>
      <div id="logo" fxFlex.lt-md="150px" fxFlex.gt-sm="300px" fxLayout="column" fxLayoutAlign="center stretch">
        <div fxFlex="33.3%" fxLayoutAlign="center stretch" fxLayout="row">
          <div fxFlex.gt-xs="500px" fxFlex.lt-sm="300px" id="title" fxLayout="column" fxLayoutAlign="center stretch">
            <h1 fxHide.lt-sm="true" class="mat-display-1" i18n>Vyrábíme elektrické obvody</h1>
            <h1 fxHide.gt-xs="true" class="mat-display-1" i18n>Obvody</h1>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>

