<div id="content" fxLayout="row true" fxLayoutAlign="center" fxLayoutGap.gt-md="2.5%">
  <mat-card fxFlex.gt-md="45%" fxFlex.md="70%" fxFlex.lt-md="90%" class="article" fxLayout="column">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>note</mat-icon>
      </div>
      <mat-card-title>O projektu</mat-card-title>
      <mat-card-subtitle>Stručný přehled</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div class="thumbnail" fxFlex="40%">
        <img src="../../assets/about.jpg" alt="Ilustrační fotografie">
      </div>
      <div fxFlex="60%">
        <p>
          Umíte pájet? A chcete se to naučit?
        </p>
        <ul>
          <li>Chcete si vyzkoušet výrobu elektrických obvodů od schématu až po funkční součástku?</li>
          <li>Chcete vědět, jak je možné, že se dveře samy otevřou nebo záchod sám spláchne?</li>
        </ul>
        <p>
          V rámci projektu si odzkoušíme a následně vyrobíme několik elektrických obvodů od jednodušších po mírně
          složitější. Naše obvody budou svítit, blikat, reagovat na teplotu okolí nebo reagovat na míru osvětlení.
          Ukážeme si, jak elektrické obvody zautomatizovat, aby se například samy zapnuly za určitých podmínek.
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex.gt-md="45%" fxFlex.md="70%" fxFlex.lt-md="90%" class="article" fxLayout="column">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>note</mat-icon>
      </div>
      <mat-card-title>O projektu</mat-card-title>
      <mat-card-subtitle>Stručný přehled</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div class="thumbnail" fxFlex="40%">
        <img src="../../assets/about.jpg" alt="Ilustrační fotografie">
      </div>
      <div fxFlex="60%">
        <p>
          Umíte pájet? A chcete se to naučit?
        </p>
        <ul>
          <li>Chcete si vyzkoušet výrobu elektrických obvodů od schématu až po funkční součástku?</li>
          <li>Chcete vědět, jak je možné, že se dveře samy otevřou nebo záchod sám spláchne?</li>
        </ul>
        <p>
          V rámci projektu si odzkoušíme a následně vyrobíme několik elektrických obvodů od jednodušších po mírně
          složitější. Naše obvody budou svítit, blikat, reagovat na teplotu okolí nebo reagovat na míru osvětlení.
          Ukážeme si, jak elektrické obvody zautomatizovat, aby se například samy zapnuly za určitých podmínek.
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
